doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/angular.min.js')
    script(type='text/javascript', src='javascripts/angular-ui-router.min.js')
    script(type='text/javascript', src='javascripts/underscore-min.js')
    script(type='text/javascript', src='javascripts/app/controllers.js')
    script(type='text/javascript', src='javascripts/app/app.js')
  body
    block content
